<style>

#headline {
  font-size: 6em;
  font-weight: 800;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: teal;
}

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

#masthead {
  width: 100%;
  margin-bottom: 35px;
  margin-top: 10px;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#byline2 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-familiy: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 8px;
}

#chapter {
  font-size: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

figure {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

.footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.menu li {
  display: inline;
  text-align: center;
}

#top {
  font-size:2em;
  text-transform:uppercase;
  background-color: teal;
  color:#fff;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  width:100%;
  min-width:300px;
  text-align: center;
}

/*education list*/

#two {
  font-size:2em;
  text-transform:uppercase;
  background-color: teal;
  color:#fff;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  width:100%;
  min-width:300px;
  text-align: center;
}
/*skills list*/

#last {
  font-size:2em;
  text-transform:uppercase;
  background-color: teal;
  color:#fff;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  width:100%;
  min-width:300px;
  text-align: center;
}

/* container */
#container {
  width:100%;
  max-width: 1200px;
  margin:0 auto;
  padding-bottom: 50px;
}

#pullquote {
  width: 110%;
  margin-bottom: 35px;
  margin-top: 10px;
}

.column {
 float: left;
 width: 50%;
 padding: 5px;
}

#pullquote {
  width: 100%;
  text-align: center;
}

#population {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

#columncaption {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

#image6 {
  width: 110%;
}

#image3 {
  width: 110%;
}

#image1 {
  width: 110%;
}

#image4 {
  width: 110%;
}

#image2 {
  width: 110%;
}

#image5 {
  width: 110%;
}</style>
